stage4/CodeForCMD/TrafficGame/src/MapSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="MapDesign">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="MapLanes" type="xs:int"/>
            <xs:element name="Rounds" type="xs:int"/>
            <xs:element name="BotVehicleLane" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
